
<nav class="vidnavbar"> <!--  navbar-custom navbar-fixed-top  -->     
  <div class="vidnav-btn navbar-header">          
    <div></div>
    <div></div>
    <div></div>          
  </div>       
</nav>

<div>
  <header>
    <nav class="menu-side">
       <ul class="nav navbar-nav" ng-repeat="n in controller.videos track by $index">
          <li><a ng-click="controller.setVideo($index)">{{n.name}}</a></li>        
       </ul>                      
    </nav>
  </header>
    
  <div class="videogular-container">
    <videogular 
      vg-player-ready="controller.onPlayerReady($API)" 
      vg-complete="controller.onCompleteVideo()" 
      vg-theme="controller.config.theme.url">

      <vg-media vg-src="controller.config.sources"
               vg-tracks="controller.config.tracks">  <!--controller.config.tracks  -->
      </vg-media>

      <vg-controls>
        <vg-play-pause-button></vg-play-pause-button>
        <vg-time-display>{{ currentTime | date:'mm:ss':'+0000' }}</vg-time-display>

        <vg-scrub-bar>
            <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
        </vg-scrub-bar>

        <vg-time-display>{{ timeLeft | date:'mm:ss':'+0000' }}</vg-time-display>

        <vg-volume>
            <vg-mute-button></vg-mute-button>
            <vg-volume-bar></vg-volume-bar>
        </vg-volume>

        <vg-fullscreen-button></vg-fullscreen-button>
      </vg-controls>

      <vg-overlay-play></vg-overlay-play>
      <vg-buffering></vg-buffering>
      <vg-poster vg-url='controller.config.plugins.poster'></vg-poster>
    </videogular>             
  </div>
</div>
<script>
  (function(){
      var body = $('body');
      $('.vidnav-btn').bind('click', function(){             
          body.toggleClass('menu-open');
          return false;
      });
  })();
</script> 