*{
	margin:0;
	padding:0;
	border:0;
}

html{
	width:100%;
	height:100%;
}

body {
	width:100%;
	height: 100%;
	background:#333333;
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
}

p{
	margin:0 025px;
	font-size:18px;
	line-height:1.6em;
}

.navbar{
	margin-bottom:0;
	/*border-bottom:1px solid rgba(255,255,255,0.3); */
	background-color:transparent;
	color:white;	
	font-size:18px;
	-webkit-transition:background .5s ease-in-out, padding .5s ease-in-out;
	-moz-transition:background .5s ease-in-out, padding .5s ease-in-out;
	transition:background .5s ease-in-out, padding .5s ease-in-out;
}

.nav-btn{
	position:relative;
	width:40px;	
	margin:5px;	
	border:#bababa 1px solid;
	border-radius: 2px;
	padding:5px 10px;
	cursor: pointer;
	background-color:#fff;
	-webkit-transition: all 0.4s linear;
	-moz-transition: all 0.4s linear;
	-o-transition: all 0.4s linear;
	transition: all 0.4s linear;
}
.nav-btn:hover{
	border:yellow 1px solid;
}
.nav-btn> div{                 /*#nav-btn>*/
	width:20px;
	height:3px;	
	margin-bottom: 3px;
	background:#bababa;
	-webkit-transition: all 0.4s linear;
	-moz-transition: all 0.4s linear;
	-o-transition: all 0.4s linear;
	transition: all 0.4s linear;
}
.nav-btn:hover div{
	background:red;
}
.menu{
	/*margin-top:50px;*/
	overflow-x:hidden;
	position: relative;
	left: 0;
}
.menu-open{
	left: 231px;
}
.menu-open .menu-side{
	left:0;
}
.menu-side,
.menu{
	-webkit-transition: left 0.4s ease;
	-moz-transition: left 0.4s ease;
	-o-transition: left 0.4s ease;
	transition: left 0.4s ease;
}
.menu-side{
	margin-top:50px;
	/*background-color:#333;
	border-right:1px solid #000; */
	color:#fff;
	position: fixed;
	top: 0;
	left: -230px;
	width: 210px;
	height: 100%;
	padding: 10px;
}

.intro{
	display:table;
	width:100%;
	height:auto;
	margin-bottom:25px;
	padding:100px 0;
	text-align:center;
	color:#f4f4f4;
	background: url(img/pic1.png) no-repeat top center  scroll;
	background-color:#333333; 
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
}
.intro-body{
	display:table-cell;
	vertical-align: middle;
}
.brand-heading{
	font-size:40px;

}

.intro-text{
	font-size:18px;
	margin-bottom:20px;	
}

.content-section{
	padding: 40px 0 40px 0;
	margin-bottom:20px;
	color:white;
	min-height:280px;
}

.editorial{
	margin-left:5px;
	margin-bottom:25px;
	color:white;	
	min-height:480px;
}

footer{
	border-top:black 1px solid;
	margin-top:10px;	
	padding-bottom:80px;
	padding-top:30px;
	min-height:280px;	
	background:#000000;
	color:#333333;	
}

div.ownership{
	padding-top:80px;
}

@media(max-width:767px){
	.content-section{
		margin-left:20px;
	}
	.navbar{
		padding:5px 0;		
		 
		background:#000000;
		-webkit-transition:background .5s ease-in-out, padding .5s ease-in-out;
	    -moz-transition:background .5s ease-in-out, padding .5s ease-in-out;
	    -o-transition:background .5s ease-in-out, padding .5s ease-in-out;
	    transition:background .5s ease-in-out, padding .5s ease-in-out;
	}	

	.intro-body{
	    height:100%;
	    padding:0;
    }

    .brand-heading{
	   font-size:50px !important;	
    }    

    .intro-text{
	   font-size:25px;
    }
    .detail{
    	text-align:center;
    	padding-bottom:5px;
    }
}

    

